body {
    font-family: COTILLIO, cursive;
    text-align: center;
    color: white;
    background-color: midnightblue;
}

h1 {
    font-size: 54pt;
}

h2 {
    font-size: 42pt;
    margin-bottom: 30px;
}

p {
    font-size: 20pt;
}

.myProfile {
    float: left;
}

.image-Profile {
    float: left;
    margin-right: 30px;
}

#ProfilePush {
    padding-left: 0;
    cursor: pointer;
}

#ProfileBox {
    display: none;
}

#DevelopPush {
    padding-left: 0;
    cursor: pointer;
}

#DevelopBox {
    display: none;
    clear: left;
}

.colorFB {color: #305097;}
.colorTW {color: #00aced;}
.colorGH {color: #000000;}