body {
    font-family: COTILLIO, cursive;
    text-align: center;
    color: white;
    background-color: midnightblue;
}

h1 {
    font-size: 54pt;
}

h2 {
    font-size: 42pt;
}

#ProfilePush {
    padding-left: 0;
}

#DevelopPush {
    padding-left: 0;
}

.colorFB {color: #305097;}
.colorTW {color: #00aced;}
.colorGH {color: #000000;}